html {
  background: black;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
@media (max-width: 640px) {
  html {
    font-size: 88%;
  }
}
html, body, main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(240deg, #2dc9a1, #c9552d, #2d78c9, #c9c32d);
  background-size: 800% 800%;
  -webkit-animation: Digital 58s ease infinite;
  -moz-animation: Digital 58s ease infinite;
  -o-animation: Digital 58s ease infinite;
  animation: Digital 58s ease infinite;
  overflow: hidden;
  text-align: center;
}
h1 {
  margin: 0 auto;
  height: 80%;
  padding-left: 50%;
  width: 0;
  background: url(/belza-digital-logo-v.svg) no-repeat center;
  overflow: hidden;
}
@media (max-width: 640px) {
  h1 {
    height: 70%;
  }
}
.btn {
  border: 1px solid rgba(255,255,255,.5);
  padding: .4em .8em;
  color: rgba(255,255,255,.5);
  border-radius: 0.3em;
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: color .5s, border-color .5s;
  -moz-transition: color .5s, border-color .5s;
  -o-transition: color .5s, border-color .5s;
  transition: color .5s, border-color .5s;
}
.btn:hover {
  border-color: #fff;
  color: #fff;
}
.btn.consulting {
  position: relative;
  top: -30px;
  font-size: 120%;
}
@media (max-width: 640px) {
  .btn.consulting {
    font-size: 100%;
    top: 5px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,.15);
  color: rgba(255,255,255,.75)
}
footer p {
  margin: .3em 1em .5em 1em;
}
footer .copyright {
  float: right;
}
footer a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 640px) {
  footer {
    text-align: center;
  }
  footer .copyright {
    float: none;
  }
  footer a.legal {
    white-space: nowrap;
  }
  footer .hosting {
    display: none;
  }
}

@-webkit-keyframes Digital {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-moz-keyframes Digital {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-o-keyframes Digital {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}

}
@keyframes Digital {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}

