<footer>
  <p class="copyright"><small>copyright &copy; 2014 - <%= new Date().getFullYear() %> Belza Digital GmbH. <a href="/impressum<%= hrefExt %>" class="legal">Legal disclaimer / Impressum</a></small></p>
  <p class="hosting"><small>Hosted by <a href="http://surge.sh">surge</a></small></p>
  <!-- generated <%= new Date() %> -->
</footer>
