@import "_variables.css";

html {
  background-color: #fff;

  &.dark-mode {
    background-color: #222;
  }
}

body {
  color: #333;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  max-width: 450px;
  padding: 10% 5% 10% 55%;

  @nest .dark-mode & {
    color: #eee;
  }

  @media (--medium-viewport) {
    padding-left: 45%;
  }

  @media (--small-viewport) {
    font-size: 90%;
    max-width: none;
    padding: 220px 5% 5% 5%;
    padding-top: 56vmin;
  }
}

h1, h2 {
  margin: 1.7em 0 .7em 0;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

p, ul, dl {
  margin: .7em 0;
}

strong {
  font-weight: normal;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin: .2em 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

  @nest .dark-mode {
    background-color: #222;
  }

  &.martin {
    background-image: url(martin-belza.jpg);
  }

  &.not-found {
    background-image: url(404.jpg);
  }

  &.kinga {
    background-image: url(kinga-belza.jpg);
  }

  /* hide header content */
  & * {
    display: none;
  }

  @media (--small-viewport) {
    background-position-y: center;
    height: 200px;
    height: 52vmin;
    position: absolute;
    top: 0;
  }
}

.logo {
  display: block;
  height: 3em;
  position: absolute;
  right: 2em;
  top: 2em;
  width: 2em;

  & svg {
    height: 100%;
    width: 100%;
  }

  @media (--small-viewport) {
    right: 1em;
    top: 1em;
  }
}

.headline,
.name {
  color: #5c5c5c;
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1;
  margin: .7em 0 0 0;

  @nest .dark-mode & {
    color: #999;
  }

  @media (--small-viewport) {
    font-size: 2em;
  }
}

.sub-headline,
.job-title {
  color: var(--primary-color);
  font-size: 1.7em;
  margin-top: 0.3em;

  @media (--small-viewport) {
    font-size: 1.2em;
  }
}

.fa-icon {
  margin-right: 0.3em;
  position: relative;
  top: 0.1em;
  width: 1em;

  & > svg {
    height: 100%;
    width: 100%;
  }
}

.contact .fa-icon {
  display: inline-block;
}

.stars li {
  position: relative;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1.5em;
  &::before {
    content: '★';
    position: absolute;
    left: 0;
    margin-right: .5em;
  }
}

.facts {
  & > dt {
    height: 1.2em;
    overflow: hidden;
    position: absolute;
    width: 1.2em;
  }

  & > dd,
  & > dt {
    padding: .4em 0;
  }

  & > dd {
    margin-left: 1.6em;
  }
}

.skills {
  margin: 0;

  & > li {
    display: inline-block;
    margin: 0;
    margin-right: .2em;

    &::after {
      content: ', ';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.links > li {
  padding-left: 1.6em;
  position: relative;

  & > small {
    white-space: nowrap;
  }

  & > .fa-icon {
    left: 0;
    position: absolute;
  }

  @media (--small-viewport) {
    border-bottom: 1px dotted #999;
    padding-bottom: 1em;
    padding-top: 1em;

    &:last-child {
      border: none;
    }

    & > .fa-icon {
      top: 1.1em;
    }
  }
}

footer {
  background: rgba(255,255,255,.9);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;

  @nest .dark-mode & {
    background: rgba(34,34,34,.9);
  }

  & p {
    margin: .3em 1em .5em 1em;
  }

  & .copyright {
    float: right;
  }

  @media (--small-viewport) {
    background: none !important;
    border-top: 1px dotted;
    color: #999;
    margin-top: 2em;
    position: static;

    & p {
      margin: 1em 0 0 0;
    }

    & .copyright {
      float: none;
    }

    & .legal {
      white-space: nowrap;
    }
  }
}
