@import "_variables.css";

:root {
  --slidein-duration: 500ms;
  --slidein-initial-delay: 250ms;
  --slidein-delay-between: 250ms;
}

html {
  background: linear-gradient(
    240deg,
    var(--primary-color),
    color(var(--primary-color) shade(30%))
  );
  color: white;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;

  @media (--small-viewport) {
    font-size: 88%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5vmin;
  margin-bottom: 0;
  max-width: 640px;
  overflow: hidden;
  width: 100%;

  &-signet {
    margin-bottom: 7.5vmin;
    width: 30%;
  }

  &-copy {
    margin-bottom: 10vh;
    width: 75%;
  }
}

.btn {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 0.3em;
  color: rgba(255,255,255,.5);
  padding: .4em .8em;
  text-decoration: none;
  transition: color .5s, border-color .5s;

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  &--consulting {
    display: inline-block;
    font-size: 120%;
    margin: 5vmin;
    margin-top: 0;
    text-align: center;
  }
}

footer {
  background: rgba(255,255,255,.15);
  color: rgba(255,255,255,.75);
  padding: .5em 1em .5em 1em;

  & p {
    margin: 0;
  }

  & .copyright {
    float: right;
  }

  & a {
    color: rgba(255,255,255,.5);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (--small-viewport) {
    text-align: center;

    & .copyright {
      float: none;
    }

    & .legal {
      white-space: nowrap;
    }

    & .hosting {
      display: none;
    }
  }
}

/* Intro animation */

.anim {
  animation: var(--slidein-duration) both slidein;

  &--0 {
    animation-delay: calc(var(--slidein-initial-delay) + var(--slidein-delay-between) * 0);
  }

  &--1 {
    animation-delay: calc(var(--slidein-initial-delay) + var(--slidein-delay-between) * 1);
  }

  &--2 {
    animation-delay: calc(var(--slidein-initial-delay) + var(--slidein-delay-between) * 2);
  }

  &--3 {
    animation-delay: calc(var(--slidein-initial-delay) + var(--slidein-delay-between) * 3);
  }
}

/* Do not play intro animation when #book-your-digital-consultant-now is part of URL */

#book-your-digital-consultant-now:target .anim {
  animation: none;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(0, 5vh);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
