@import "_variables.css";

html {
  background: linear-gradient(
    240deg,
    var(--primary-color),
    color(var(--primary-color) shade(20%))
  );
  color: white;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
@media (max-width: 640px) {
  html {
    font-size: 88%;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5vmin;
  margin-bottom: 10vh;
  max-width: 640px;
  overflow: hidden;
  width: 100%;
  & .logo-darkbg {
    margin-bottom: 7.5vmin;
    width: 30%;
  }
  & .belza-digital {
    width: 75%;
  }
}

.btn {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 0.3em;
  color: rgba(255,255,255,.5);
  padding: .4em .8em;
  text-decoration: none;
  transition: color .5s, border-color .5s;
}
.btn:hover {
  border-color: #fff;
  color: #fff;
}

.btn.consulting {
  display: inline-block;
  font-size: 120%;
  margin: 5vmin;
  margin-top: 0;
  text-align: center;
}

footer {
  background: rgba(255,255,255,.15);
  color: rgba(255,255,255,.75);
  padding: .5em 1em .5em 1em;
}
footer p {
  margin: 0;
}
footer .copyright {
  float: right;
}
footer a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 640px) {
  footer {
    text-align: center;
  }
  footer .copyright {
    float: none;
  }
  footer a.legal {
    white-space: nowrap;
  }
  footer .hosting {
    display: none;
  }
}
