@import "_variables.css";

:root {
  --anim-duration: 500ms;
  --anim-initial-delay: 250ms;
  --anim-delay-between: 250ms;
}

html {
  background: linear-gradient(
    240deg,
    var(--primary-color),
    color(var(--primary-color) shade(30%))
  );
  color: white;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;

  @media (--small-viewport) {
    font-size: 88%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #fff8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5vmin 0 0 0;
  max-width: 480px;
  overflow: hidden;
  width: 100%;

  &-signet {
    margin-bottom: 7.5vmin;
    width: 30%;
  }

  &-copy {
    margin-bottom: 10vh;
    width: 75%;
  }
}

.btn {
  border: 1px solid currentColor;
  border-radius: 0.3em;
  color: currentColor;
  opacity: .6;
  padding: .4em .8em;
  text-decoration: none;
  transition: opacity .5s;

  &:hover {
    opacity: .99;
    text-decoration: none;
  }
}

.action {
  margin: 0 5vmin 5vmin 5vmin;

  &-btn {
    display: inline-block;
    font-size: 120%;
    text-align: center;
    margin: 0 .4em;
    transition: opacity 500ms, transform 500ms;
  }
}

.image-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    border-radius: 50%;
    transition: border-color 500ms;
    border: 5px solid #fff8;
  }

  & > span {
    transition: color 500ms;
    text-transform: uppercase;
    margin-top: 5px;
  }

  &:hover {
    text-decoration: none;

    & > span {
      color: white;
    }

    & > img {
      border-color: white;
    }
  }

}

.martin, .kinga {
  position: absolute;
  margin-top: -40px;
  transition: opacity 500ms, transform 500ms;
  opacity: 0;
}
.martin {
  right: calc(50% - 80px - 20px);
  transform: translateX(500%);
}
.kinga {
  left: calc(50% - 80px - 20px);
  transform: translateX(-500%);
}

.nav-switch {
  display: none;

  &:checked {
    & ~ .action-btn {
      opacity: 0;
      transform: scale(0.1);

      &.anim {
        animation: none;
      }
    }

    & ~ .martin,
    & ~ .kinga {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

footer {
  background: rgba(255,255,255,.15);
  color: rgba(255,255,255,.75);
  padding: .5em 1em .5em 1em;

  & p {
    margin: 0;
  }

  & .copyright {
    float: right;
  }

  @media (--small-viewport) {
    text-align: center;

    & .copyright {
      float: none;
    }

    & .legal {
      white-space: nowrap;
    }

    & .hosting {
      display: none;
    }
  }
}

/* background video */

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 5s;
  &.loaded {
    opacity: 0.5;
  }
}

/* Intro animation */

.anim {
  animation: var(--anim-duration) both slidein-animation;

  &--0 {
    animation-delay: calc(var(--anim-initial-delay) + var(--anim-delay-between) * 0);
  }

  &--1 {
    animation-delay: calc(var(--anim-initial-delay) + var(--anim-delay-between) * 1);
  }

  &--2 {
    animation-delay: calc(var(--anim-initial-delay) + var(--anim-delay-between) * 2);
  }

  &--3 {
    animation: var(--anim-duration) both fadein-animation;
    animation-delay: calc(var(--anim-initial-delay) + var(--anim-delay-between) * 3);
  }

  &--4 {
    animation: var(--anim-duration) 3 pulse-animation;
    animation-delay: calc(var(--anim-initial-delay) + var(--anim-delay-between) * 4 + 3s);
  }
}

/* Do not play intro animation when #book-your-digital-consultant-now is part of URL */

#book-your-digital-consultant-now:target {
  & .anim {
    animation: none;
  }

  & .action-btn {
    display: none;
  }

  & .martin,
  & .kinga {
    transition: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes slidein-animation {
  from {
    opacity: 0;
    transform: translate(0, 5vh);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadein-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse-animation {
  0% {
    opacity: .6;
  }

  50% {
    opacity: .99;
  }

  100% {
    opacity: .6;
  }
}
