body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 700px;
}
@media (max-width: 640px) {
  body {
    font-size: 88%;
    padding: 1em;
  }
}
a {
  color: #64a2d1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  padding: 2em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 640px) {
  header {
    padding: 0 0 1em 0;
    margin-bottom: 2em;
  }
}
header > .logo {
  float: right;
  height: 3em;
  width: 2em;
  & > svg {
    height: 100%;
    width: 100%;
  }
}
@media print {
  header > .btn-back {
    display: none;
  }
}
.btn {
  border: 1px solid #bbb;
  padding: .4em .8em;
  color: #bbb;
  border-radius: 0.3em;
  font-size: 80%;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
  border-color: #64a2d1;
  color: #64a2d1;
}
main h2 ~ p {
  text-align: justify;
}
@media (max-width: 640px) {
  main h2 ~ p {
    text-align: left;
  }
}
main h1 {
  font-size: 180%;
  font-weight: normal;
  margin: 2em 0 .7em 0;
}
@media (max-width: 640px) {
  main h1 {
    margin-top: 1.2em;
  }
}
main h2 {
  font-size: 150%;
  font-weight: normal;
  margin: 1.2em 0 .7em 0;
}
main h1 + h2 {
  margin-top: .7em;
}
