<footer>
  <p class="copyright"><small>copyright &copy; 2014 <script>document.write('- ' + (new Date().getFullYear()))</script> Belza Digital GmbH. <a href="/impressum.html" class="legal">Legal disclaimer / Impressum</a></small></p>
  <!-- generated <%= new Date() %> -->
</footer>
