html {
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
@media (max-width: 640px) {
  html {
    font-size: 88%;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.bg {
  animation: Digital 58s ease infinite;
  background: linear-gradient(240deg, #2dc9a1, #c9552d, #2d78c9, #c9c32d);
  background-size: 800% 800%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  fill: #fff;
  margin: 5vmin;
  max-width: 500px;
}

.btn {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 0.3em;
  color: rgba(255,255,255,.5);
  padding: .4em .8em;
  text-decoration: none;
  transition: color .5s, border-color .5s;
}
.btn:hover {
  border-color: #fff;
  color: #fff;
}

.btn.consulting {
  display: inline-block;
  font-size: 120%;
  font-weight: lighter;
  margin: 5vmin;
  margin-top: 0;
  text-align: center;
}

footer {
  background: rgba(255,255,255,.15);
  color: rgba(255,255,255,.75);
  padding: .5em 1em .5em 1em;
}
footer p {
  margin: 0;
}
footer .copyright {
  float: right;
}
footer a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 640px) {
  footer {
    text-align: center;
  }
  footer .copyright {
    float: none;
  }
  footer a.legal {
    white-space: nowrap;
  }
  footer .hosting {
    display: none;
  }
}

@keyframes Digital {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}

